<mat-toolbar color="primary">
    <span class="mat-title">Smoothie</span>
 
    <button mat-raised-button color="warn" routerLink="" >
                <mat-icon>home</mat-icon>
        </button>
    
        <button mat-stroked-button color="accent" class="" routerLink="/recettes" >
            <mat-icon>local_drink</mat-icon>
        </button>
    
        <button mat-raised-button color="warn" routerLink="/addsmoothie">+1</button>
    
        <button mat-raised-button color="blue" routerLink="/people">
            <mat-icon>face</mat-icon>People
    </button>

</mat-toolbar>

