
<h1>{{title | uppercase}}</h1>
<!-- <app-dashboard></app-dashboard> -->
    <h2>{{subTitle }}</h2>
    <button mat-raised-button color="warn" routerLink="" >
            <mat-icon>home</mat-icon>
    </button>

    <button mat-stroked-button color="accent" class="" routerLink="/recettes" >
        <mat-icon>glass</mat-icon>RECETTE
    </button>

    <button mat-raised-button color="warn" routerLink="/addsmoothie">+1</button>

    <button mat-raised-button color="blue" routerLink="/people">
        <mat-icon>facee</mat-icon>People
</button>
<div>
<img src="../../assets/background.jpg" alt="">
<p>Ce site a été crée par {{nom}}</p>
</div>

        